/*Styles for the home page*/
.chip {
    display: inline-block;
    padding: 0 25px;
    height: 90px;
    font-size: 32px;
    line-height: 90px;
    border-radius: 55px;
    background-color: #f1f1f1;
}
#navbar-default {
    background-color:teal;
    background-image: none;
    background-repeat: no-repeat;
   }