{% extends 'base.html'%}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="container">

    <h1>Pitches</h1>
      
      {% for pitch in pitches  %}
    <div class="jumbotron pb-1" >
        
        <p>
          {{ pitch.name }}
        </p>
        <a href="/comment/new/{{pitch.id}}"><button type="button" class="btn btn-success btn-sm m-a pt-1">comment</button></a>
        <button type="button" class="btn btn-danger btn-sm m-1 pt-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
      
      
      
    </div>
    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Delete Product Pitch?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <form action="{{ url_for('main.delete_pitch', id=pitch.id) }}" method="post">
              <input class="btn btn-danger" type="submit" value="Delete">
            </form>
            
          </div>
        </div>
      </div>
    </div>
    
    {% endfor %}
      <div class="panel">
              <div class="panel panel-heading">
                  <h2> Add a pitch</h2>
              </div>
              <div class="panel panel-body">
                  <a href="{{ url_for('main.new_pitch',id = category.id)}}"<button class="btn btn-outline-info">add</button></a>
              </div>
          </div>             
{% endblock %}