{% extends 'base.html' %}
{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

<!-- Content block -->
{% block content %}

    <title> {{ title }} </title>

    <div class="category">

        <h1>Categories</h1>

        {% for category in categories  %}
        <a href="/category/{{ category.id }}">
        <div class="chip">
                {{ category.category_name }}
            </div>
        </a>
        {% endfor %}
        
        <div class="panel">
            <div class="panel panel-heading">
                <h4> Add a category</h4>
            </div>
            <div class="panel panel-body">
                <button class="btn btn-outline-info"><a href="/category/new">add</a></button>
            </div>
        </div>



    </div>

{% endblock %}