{% extends 'base.html' %} {% block styles%} {{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}" />
{% endblock %}

<!-- Navbar block -->
{% block navbar %}
<div class="container-fluid">
  <div class="navbar navbar-inverse" id="navbar-default" role="navigation">
    <div class="navbar-header">
   
      <a href="/" class="navbar-brand">Chance</a>
    </div>

    <div class="navbar navbar-expand-sm ">
     
      <ul class="nav navbar-nav navbar-right">
        {% if current_user.is_authenticated %}
        <li>
          <a href="{{url_for('main.profile',uname=current_user.username)}}"
            >Profile</a
          >
        </li>
        <li><a href="{{url_for('auth.logout')}}">Sign out</a></li>
        {% else %}
        <li>
          <a href="{{url_for('auth.register')}}">Sign Up</a>
        </li>
        <li>
          <a href="{{url_for('auth.login')}}">Login</a>
        </li>
        {%endif%}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
