{% extends 'base.html' %} {% block styles%} {{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}" />
{% endblock %}

<!-- Navbar block -->
{% block navbar %}
<div class="container-fluid">
  <nav class="navbar navbar-expand-sm" >
    <h1>Chance</h1>
  <div class="collapse navbar-collapse justify-content-end" id="nav-content">   
      <h1>Chance</h1>
       <ul class="navbar-nav">
           {% if current_user.is_authenticated %}
         <li class="nav-item">
           <a class="nav-link" href="{{url_for('main.profile',uname=current_user.username)}}">Profile</a>
         </li>
         <li class="nav-item"><a href="{{url_for('auth.logout')}}">Sign out</a></li>
           {% else %}
         <li class="nav-item">
           <a class="nav-link" href="{{url_for('auth.register')}}">Sign Up</a>
         </li>
         <li class="nav-item">
           <a class="nav-link"  href="{{url_for('auth.login')}}">Login</a>
         </li>
           {%endif%}
      </ul>
    </div>
    </nav>
</div>
{% endblock %}
